.container.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 300px;
    margin-bottom: 10px;
    height: 310px;
}

.container.miniCard {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 300px;
  margin-bottom: 10px;
}

.container:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.30), 0 3px 6px rgba(0,0,0,0.30);
}

p {
    margin-bottom: unset;
}

.main.card{
    padding: 20px;
    height: 80%;
    cursor: pointer;
}

.main.miniCard {
  padding: 20px;
}

.cardBottom {
    border-top: 1px solid #DDD;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.link {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: white;
  text-decoration: none;
  background-color: #C47322;
  margin: auto;
  padding: 5px 10px;
}

.link:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.30), 0 3px 6px rgba(0,0,0,0.30);
}

